@font-face {
  font-family: "lorem";
  src: font-url("lorem.eot");
  src: font-url("lorem.eot?#iefix") format("embedded-opentype"),
       font-url("lorem.woff") format("woff"),
       font-url("lorem.ttf") format("truetype"),
       font-url("lorem.svg#lorem") format("svg");
  font-weight: normal;
  font-style: normal;
}