%large {
  font-size:      $large_size;
  line-height:    $leading;
  letter-spacing: 0;
}

%regular {
  font-size:      $regular_size;
  line-height:    $leading;
  letter-spacing: 0;
}

%small {
  font-size:      $small_size;
  line-height:    $leading;
  letter-spacing: 0;
}